<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Download Page</title>
        <link rel="stylesheet" href="../static/index.css" />
        <script src="../static/script.js"></script>
    </head>
    <body>
        <h1>
            Download Page
        </h1>
        <p>
            This is the Download Page. Click <a href="/">here</a> to go back to the Home Page.
        </p>
        <p>
            On this page, you can download files.
        </p>
        <button onclick="downloadFile('/download-test')">Download test file</button>
        <button onclick="downloadFile('/download-world192')">Download world192</button>
    </body>
</html>