<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="../static/index.css" />
        <script src="../static/script.js"></script>
    </head>
    <body>
        <h1>
            Home Page
        </h1>
        <p>
            This is the Home Page. Below is a list of pages you can visist!
        </p>
        <ul>
            <li>
                <a href="/about">About page</a>
            </li>
            <li>
                <a href="/download">Download txt file</a>
            </li>
        </ul>
    </body>
</html>